body{
     background-color: rgb(0, 22, 37);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     display: flex;
}
.container{
     background-color: rgb(0, 36, 66);
     display: flex;
     width: 100%;
     max-width: 600px;
     min-height: 450px;
     justify-content: center;
     align-items: center;
     border-radius: 15px;
     display: flex;
     gap: 10px;
}
.left-slide{
     background-image: url(/images/_.jpeg);
     width: 50%;
     height: 450px;
     justify-content: center;
     align-items: center;
     background-size: cover;
     border-radius: 15px 0 0 15px;
     background-repeat: no-repeat;
     background-position: center;
}
.right-slide{
     width: 50%;
     justify-content: center;
     align-items: center;
     height: 450px;
}
.right-slide h1{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: -30px;
}
.item{
     display: flex;
     flex-direction: column;
     gap: 5px;
     margin-top: 5px;
     justify-content: center;
     padding: 10px;
     
}
.item input{
     font-weight: bold;
     font-size: 1em;
     background: none;
     padding-block: 0.5em;
     padding-left: 1em;
     border-radius: 8px;
     border-inline: none;
     border-top: none;
}

.social{
    display: flex;
    flex-direction: column;
    gap: 8px;
} .github{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 40px;
    gap: 13px;
    background-color: rgb(50, 33, 78);
    border-radius: 13px;
    border: none;
}
.google{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 40px;
    gap: 13px;
    background-color: rgb(255, 255, 255);
    border-radius: 13px;
}
.social img{
     height: 1.6em;
}
.Log-in{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-inline: 2em;
     padding-block: 1em;
     border-radius: 10px;
     margin-bottom: 2em;
     margin-inline: 4em;
     margin-top: 1em;
     background-color: black;
     text-decoration: none;
     color: aliceblue;
     font-weight: bold;
}